<div class="apps-page app-page">
  <h1>Apps Page</h1>
  <mat-icon aria-label="Example home icon">info</mat-icon>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>
  <div>This is where apps content will be displayed.</div>

</div>
