<header>
  <div class="header-menu">
    <ng-content select="[menu]"></ng-content>
  </div>

  <div class="header-shortcuts">
    <ng-content select="[shortcuts]"></ng-content>
  </div>
  <!--
  <div class="header-menu">
    <span (click)="toggleSideNav()" id="toggle" class="menu-icon material-icons">menu</span>
  </div>
  -->
  <!-- or mat-icon-button-->
  <!--
  <div class="header-shortcuts">
    <button mat-mini-fab>
      <mat-icon class="white-icon" aria-label="Example home icon">info</mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon class="white-icon" aria-label="Example home icon">home</mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon class="white-icon" aria-label="Example home icon">mic</mat-icon>
    </button>
  </div>
  -->
</header>
