header {
  position: sticky; top: 0; /*position: fixed;*/
  background: white;
  /*z-index:1000;*/
}

.menu-icon {
  font-size: 2.5em;
  cursor: pointer;
  color: #000000;
}

.header-menu {
  float: left;
  /*width: 60%;*/
  /*display: inline-block;*/
  margin: 0;
  padding: 0;
}

.header-shortcuts {
  float: right;
  /*width: 40%;*/
  /*display: inline-block;*/
  margin: 0;
  padding: 0;
  /*background: black;*/
}

.header-shortcuts .mat-mini-fab {
  background-color: #8c8c8c;
  margin: 3px;
}
