<header>
  <div class="header-menu">
    <span (click)="toggleSideNav()" class="menu-icon material-icons">menu</span>
  </div>
  <div class="header-shortcuts">
    <button mat-mini-fab> <!-- or mat-icon-button-->
      <mat-icon class="white-icon" aria-label="Example home icon">info</mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon class="white-icon" aria-label="Example home icon">home</mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon class="white-icon" aria-label="Example home icon">mic</mat-icon>
    </button>
  </div>
</header>
