<!-- side bar main wrapper -->
<!--
<div class="header-menu">
  <span (click)="this.toggleSideNav()" id="toggle" class="menu-icon material-icons">menu</span>
</div>
-->
<div class="side-nav-bar"
     [ngClass]="{ 'side-nav-bar-collapsed': !(showSideNav | async)! }">

  <div class="side-nav-bar-overlay"
       [ngStyle]="{ 'transition': 'background-color ' + duration + 's, visibility ' + duration + 's' }"
       [ngClass]="{ 'side-nav-bar-overlay-collapsed': !(showSideNav | async)! }"
       (click)="onSidebarClose()"></div>

  <div class="side-nav-bar-menu-container"
       [ngStyle]="getSideNavBarStyle((showSideNav | async)!)">

    <div><span class="material-icons side-nav-bar-close" (click)="onSidebarClose()">clear</span></div>

    <div class="side-nav-bar-content-container">
      <ng-content></ng-content>
    </div>
  </div>
</div>

<!--<ng-container *ngTemplateOutlet="sidenavTemplateRef"></ng-container>-->

<!--
<div class="header-menu">
  <span (click)="this.toggleSideNav()" id="toggle" class="menu-icon material-icons">menu</span>
</div>
<div class="side-nav-bar"
     [ngClass]="{ 'side-nav-bar-collapsed': !showSideBar }">

  <div class="side-nav-bar-overlay"
       [ngStyle]="{ 'transition': 'background-color ' + duration + 's, visibility ' + duration + 's' }"
       [ngClass]="{ 'side-nav-bar-overlay-collapsed': !showSideBar }"
       (click)="onSidebarClose()"></div>

  <div class="side-nav-bar-menu-container"
       [ngStyle]="getSideNavBarStyle(showSideBar)">

    <div><span class="material-icons side-nav-bar-close" (click)="onSidebarClose()">clear</span></div>

    <div class="side-nav-bar-content-container">
      <ng-content></ng-content>
    </div>
  </div>
</div>
-->
